{% extends 'base.html' %}

{% block header_text %}
  Your To-Do list
{% endblock %}

{% block form_action %}
  {% url 'view_list' list.id %}
{% endblock %}

{% block table %}
  <table class="table" id="id_list_table">
    {% for item in list.item_set.all %}
      <tr>
        <td>{{ forloop.counter }}: {{ item.text }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block share_form %}
<div class="list-sharee">
  <table class="table" id="id_sharee_table">
    <tr>
      <th>List shared with:</th>
      <th>Share This list</th>
    </tr>
    <tr>
      <td>
        {% for shar in list.sharee.all %}
          <ul>{{ shar }}</ul>
        {% endfor %}
      </td>
      <td>
        <form action="{% url 'view_list' list.id %}" method="POST">
          {% csrf_token %}
          <input id="id_sharee_input" name="sharee" class="form-control" placeholder="your-friend@example.com" />
        </form>
      </td>
    </tr>
  </table>

{% endblock %}
